* {
  margin: 0;
  padding: 0;
  color: white;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  font-weight: 200;
}

body {
  padding-top: 40px;
  background: #333333;
}

header {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

h1 {
  font-size: 44px;
}

p {
  font-size: 14px;
}

button {
  border: none;
  font-size: 22px;
  background: #333333;
}

button:focus {
  outline: none;
}

span {
  font-size: 22px;
  padding: 0 5px 0 5px;
}

#selectionContainer {
  width: 100%;
  margin-top: 20px;
  text-align: center;
}

#selectionContainer > div {
  width: 20%;
  height: 100px;
  padding-top: 30px;
  display: inline-block;
}

#timerContainer {
  width: 400px;
  height: 400px;
  margin: 0 auto;
  padding-top: 80px;
  text-align: center;
  border-radius: 50%;
}

.sessionOn {
  border: 1px solid rgba(255, 0, 0, 0.8);
}

.breakOn {
  border: 1px solid green;
}

#timerType, #timeLeft {
  font-size: 30px;
}

#timeLeft {
  padding: 30px;
}

#start, #reset {
  display: block;
  font-size: 18px;
  margin: 15px auto;
  padding: 15px;
  border: 1px solid #888;
  border-radius: 15px;
}